* {
  margin: 0;
  padding: 0;
}

.h-100 {
  height: 100vh;
  border: 1px solid red;
}

.img-wrapper, .video-wrapper {
  margin-top: 256px;
  display: flex;
  gap: 24px;
}

.image {
  width: 512px;
  height: 512px;
  object-fit: cover;
}